/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both; /*gop cac div con dung float*/
}

.text-white {
    color: #fff !important;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*
1. Vi tri
2. Kich thuoc (width, height)
3. Mau sac
4. Kieu dang (kieu chu, hinh dang, ...)

*/

/*
1. Ngoai vao trong
2. Tren xuong duoi
3. Tong quat den chi tiet
*/

#main {
    
}

#header {
    height: 60px;
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;  /* inline tren 1 line auto width theo word, 
    co tinh chat block ke thua kich thuoc width
    list-item giong block*/
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    display: block;
    text-decoration: none;
    line-height: 60px;
    padding: 0px 24px;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position:absolute;
    top: 100%; /* chac chan children cua no nam duoi no*/
    left: 0;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 8px 16px;
    line-height: 36px;
    min-width: 168px;
}

#nav .nav-arrow-down {

}

#header .search-btn {
    float: right; /*Co float se khong ke thua width, nen se nam tren 1 hang tuy vao width that*/
    line-height: 60px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon{
    color:#fff;
    font-size: 22px;
    padding: 0px 24px;
}


#slider {
    margin-top: 60px; /*Do header la fixed*/
    padding-top: 50%; /*De height luon bang 50% cua width chinh no*/
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 0px;
    /* can giua */
    left: 50%; /* vi tri*/
    transform: translateX(-50%); /*kich thuoc width*/
    text-align: center; /*can giua chu*/
    padding: 32px 16px;
    color: #fff;
}

#slider .text-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}

#slider .text-description {
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom:15px;
}


#content {
    line-height: 22.5px;
}

#content .content-section {
    width: 800px;
    /*can giua*/
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .section-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: italic;
    margin: 15px 0px;
    opacity: 0.6;
    text-align: center;
}

#content .about-text {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 15px 0px;
}

#content .member-list {

}

#content .member-item {
    float: left; /* tan dung chieu rong con lai */
    padding: 32px 0px;
    text-align: center; /*vua can word vua can image*/
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0px;
    font-family: 'Lato', sans-serif;
    line-height: 22.5px;
}

#content .member-img {
    border-radius: 4px;
    width: 60%;
    margin-bottom:16px;
}


.tour-section {
    background-color:#000;
}

.tickets-list {
    background-color: #fff;
    color: #757575;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 22.5px;
    border: 1px rgb(204, 204, 204)  solid;
    list-style-type: none;
}

.tickets-list li {
    border-bottom: 1px rgb(221, 221, 221) solid;
    padding: 8px 16px;
}

.tickets-list .sold-out{
    background-color: rgb(244, 67, 54);
    color: #fff;
    margin-left: 16px;
    padding: 0 8px;
    text-align: center;
}

.tickets-list .quatity {
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    float: right;
    margin-right: 16px;
    padding: 0 8px;
}

.places-list {
    margin: 0 -16px;
    padding: 32px 8px;
}

.places-list .place-item {
    width: 33.33%;
    margin-bottom: 16px;
    padding: 0 8px;
    float: left;
    

}

.place-item .place-img {
    width: 100%; /* do image khong tu co theo div */
    display: block; /* do image mac dinh la inline, inline nam ke block tao ra 1 khoang thua */
}

.place-item .place-img:hover {
    opacity: 0.6;
}


.place-item .place-body {
    padding: 0.15px 16px 24px 16px;
    background-color: #fff;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 22.5px;
}

.place-item .place-heading {
    margin: 15px 0;
}

.place-item .place-time {
    margin: 15px 0;
    opacity: 0.6;
}

.place-item .place-desc {
    margin: 15px 0;
}

.place-item .place-buy-btn {
    font-weight: 400;
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.place-item .place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

#footer {

}
